<div class="footer">
    <div class="col-4 d-flex-center">
        <button class="discord-btn" (click)="utilityService.openUrlInNewWindow(discord)"></button>
        <button class="ms-3 twitter-btn" (click)="utilityService.openUrlInNewWindow(twitter)"></button>
        <button class="ms-3 instagram-btn" (click)="utilityService.openUrlInNewWindow(instagram)"></button>
    </div>
    <div class="col-4 d-flex-center">
        <img src="assets/navLogoWithText.png" alt="PanchBhut" class="w-5-rem">
    </div>
    <div class="col-4 d-flex-center text-center">
        <p class="m-0">&#169; {{copyrights}}</p>
    </div>
</div>