<div class="character-intro full-height-with-header">
    <div class="container">
        <p class="title">{{title}}</p>
        <div class="row w-100">
            <ng-container *ngFor="let char of characters">
                <div class="col-md-5 char-group">
                    <div class="char-image">
                        <img src={{char.image}} alt="team">
                    </div>
                    <div class="text-content">
                        <p class="char-name">{{char.title}}</p>
                        <p class="char-title">{{char.description}}</p>
                    </div>
                </div>
            </ng-container>
        </div>
        <div class="weapons">
            <img src="assets/gallery/weapons.png" alt="weapons">
        </div>
    </div>
</div>