<div class="utilities full-height-with-header">
    <div class="container py-4">
        <div class="row">
            <p class="my-1 title">Utilities</p>
        </div>

        <div class="row">
            <p class="heading">
                Phase-1 Holders Exclusive
            </p>

            <div class="white-text">
                <ul>
                    <li>
                        Reward Program - We will be running the reward program exclusively for the phase-1 community
                        members with the benefits of winnings from $10 mint discount to 100% free mint opportunity.
                        (details will be shared separately).
                    </li>
                    <li>
                        Lucky draw will happen at 30% - 60% - 100% sale intervals. Each time winner will receive $300;
                        $600 and $1000 (respectively) worth of ETH, Gift Vouchers or NFT Airdrops (Applicable
                        worldwide).
                    </li>
                    <li>
                        Holder with the maximum collection of NFTs will receive 2 of their NFTs photo framed in HQ
                        Acrylic material and delivered to their doorstep (Applicable worldwide)
                    </li>
                    <li>
                        All the active holders from phase-1 will be on-boarded to receive the profit % * directly from
                        anything we extends our business into e.g. animation, game, comics, merchandise etc.. (so
                        basically instead of getting a VC who later takes most of the profit back, we plan to make our
                        phase-1 holders our partners simply because they are the ones who believed and invested)
                    </li>
                    <li>
                        Earnings from the "Key Card" invites. On each mint, Collectors will be given "x" ** number of
                        Key Cards to invite new community member to our discord server. (Key Cards will be applicable
                        for phase-2 & 3 invites only, new members can't join otherwise)
                    </li>
                    <li>
                        Direct inclusion in the project in the form of acquiring governance roles
                    </li>
                    <li>
                        Above all, Your NFT/Key Cards will be your pass to access the Panchbhut Game verse eventually
                        and will be single most important piece to access all benefits
                    </li>
                </ul>
            </div>

            <p class="legend">
                * Profit share % will be decided at a later date. <br>
                ** Number of key cards per mint will be decided at a later date.
            </p>
        </div>
    </div>

</div>