<div class="utilities full-height-with-header">
    <div class="container py-4">
        <div class="row">
            <p class="my-1 title">Utilities</p>
        </div>

        <div class="row">
            <p class="heading">
                1. USING NFT AS PFP QUALIFIES YOU FOR THE BELOW
            </p>

            <div class="white-text">
                > DISCOUNT ON FUTURE PROJECTS <br>
                > ACCESS TO EXCLUSIVE DISCORD SERVER <br>
                > ACCESS TO FREE MONTHLY GIVEAWAY PROGRAM <br>
                > PRE-SALE ACCESS TO THE NEXT PHASE <br>
                > PRE-SALE GIVEAWAYS FROM THE NEXT PHASE <br>
            </div>

            <p class="heading">
                2. LUCKY DRAWS
            </p>

            <div class="white-text">
                WILL HAPPEN AT 30% - 60% - 100% SALE INTERVALS. EACH TIME WINNER WILL RECEIVE $300; $600 AND $1000
                (RESPECTIVELY) WORTH OF GIFT VOUCHERS, NFT AIRDROPS OR EQUIVALENT AMOUNT OF ETH (APPLICABLE WORLDWIDE)
            </div>

            <p class="heading">
                3. FOR CRAZY COLLECTORS
            </p>

            <div class="white-text">
                > EACH HOLDER WITH 50+ NFTS, WILL RECEIVE 3 OF THEIR NFTS PHOTO FRAMED IN HQ AND DELIVERED TO THEIR
                DOORSTEP, PLUS SOME ADDITIONAL GOODIES. (APPLICABLE WORLDWIDE) <br>
                > HQ FRAMED CERTIFICATE OF AUTHENTICITY WILL BE PROVIDED TO THE HOLDER ALONG WITH THE PROJECT QR CODE OF
                AUTHENTICITY
            </div>

            <p class="heading">
                4. PANCHBHUT GAME VERSE HAS ITS OWN LANGUAGE SCRIPT. DECODE IT AND WIN FREE DROPS AND GIVEAWAYS ON
                REGULAR INTERVALS
            </p>

            <p class="heading">
                5. ABOVE ALL, YOUR NFT WILL BE YOUR PASS TO ACCESS THE PANCHBHUT GAME VERSE EVENTUALLY AND WILL BE
                SINGLE
                MOST IMPORTANT PIECE TO ACCESS ALL BENEFITS
            </p>
        </div>
    </div>

</div>