<div class="story-page full-height-with-header">
    <p class="title">The Story</p>
    <div class="scroll">
        <img src="assets/story/paperScroll.png" alt="scroll" class="scroll-image">
        <img src="assets/story/panchbhut.png" alt="panchbhut" class="panchbhut-image">
        <p class="scroll-content">
            MEN AND WOMEN ARE NOT BORN LEGENDS. THEY BECOME LEGENDARY BY CHOOSING THE PATH OF DHARMA (RIGHTEOUSNESS).
            BRINGING SUCH EXEMPLARY LEADERS TO THE FOREFRONT IS THE STORY OF PANCHBHUT. IT IS THE TALE OF FIVE CHOSEN
            SIBLINGS AND THEIR QUEST TO MANIFEST THE ENERGIES OF THE FIVE ELEMENTS TO BECOME SAVIOURS. IT ALL BEGINS
            HERE…!
        </p>
    </div>
    <div class="weapons">
        <img src="assets/story/weapons.png" alt="weapons">
    </div>
</div>