.story-page {
    background: url('../../assets/story/background.jpg');
    background-position-x: center;
    background-position-y: bottom;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .title {
        text-align: center;
        margin-top: 2rem;
        margin-bottom: 2rem;
        font-size: 1.5rem;
        font-weight: 600;
    }

    .scroll {
        position: relative;

        .scroll-image {
            width: 75vw;
        }

        .panchbhut-image {
            position: absolute;
            left: 38%;
            top: 12%;
            width: 18vw;
        }

        .scroll-content {
            position: absolute;
            top: 30%;
            left: 77px;
            width: 60vw;
            text-align: center;
            color: black;
            font-weight: 600;
        }
    }

    .weapons {
        img {
            width: 40vw;
        }
    }
}