<div class="phases full-height-with-header">
    <div class="container">
        <div class="row pt-4">
            <p class="my-1 title">Roadmap</p>
        </div>

        <div class="row">
            <img src="{{roadmapImage}}" alt="snake-slab">
        </div>
        <ul class="nav nav-tabs w-100 justify-content-evenly" id="myTab" role="tablist">
            <ng-container *ngFor="let node of phases; index as i">
                <li class="nav-item" role="presentation" *ngIf="node.phaseNumber !== undefined">
                    <button class="nav-link" [ngClass]="{'active': i==0}" id="tab-{{i}}" data-bs-toggle="tab"
                        attr.data-bs-target="#{{replaceAllSpaces(node.phaseNumber, '_')}}" type="button" role="tab"
                        attr.aria-controls="{{node.phaseNumber}}" [attr.aria-selected]="i == 0 ? 'true': 'false'">
                        {{node.phaseNumber}}
                    </button>
                </li>
            </ng-container>
        </ul>
        <div class="tab-content" id="myTabContent">
            <ng-container *ngFor="let node of phases; index as i">
                <div *ngIf="node.phaseNumber !== undefined"
                    class="tab-pane fade" [ngClass]="{'show active': i==0}"
                    attr.id="{{replaceAllSpaces(node.phaseNumber, '_')}}" role="tabpanel" aria-labelledby="profile-tab">
                    <div *ngIf="node.content != null && node.content != undefined" class="row justify-content-center">
                        <ng-container *ngFor="let content of node.content; index as j">
                            <div [ngClass]="j == phases.length-1 ? 'col white-text' : 'col-6 white-text'"
                                *ngIf="content.isEnabled">
                                <p class="phase-title"> {{content.salesPercentage}} </p>
                                <div class="phase-content" innerHTML="{{content.activities}}">
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </ng-container>
        </div>
        <div class="weapons">
            <img src="assets/roadmap/weapons.png" alt="weapons">
        </div>
    </div>
</div>