<div class="phases full-height-with-header">
    <div class="container">
        <div class="row pt-4">
            <p class="my-1 title">Roadmap</p>
        </div>

        <div class="row">
            <img src="assets/roadmap/snake-slab.png" alt="snake-slab">
        </div>
        <div class="row" *ngIf="true">
            <h3 class="text-center">Phase 1</h3>
            <div class="col-6 white-text">
                <p class="phase-title"> 0% Sales </p>
                <div class="phase-content">
                    <ul>
                        <li>"Panchbhut Game" GameFi project kick-off</li>
                        <li>Game based story writeup divided into 3 chapters</li>
                        <li>Characters designing based on the story</li>
                        <li>Creating social channels (Discord, Twitter, Instagram, YouTube, Facebook)</li>
                        <li>Website development </li>
                        <li>Contract writeup </li>
                        <li>Website launch</li>
                        <li>Official Project Teaser Launch </li>
                        <li>Public sale (Go Live!)</li>
                    </ul>
                </div>
            </div>
            <div class="col-6 white-text">
                <p class="phase-title"> 30% Sales </p>
                <div class="phase-content">
                    <ul>
                        <li>Initiate the phase - 1 development of the "Panchbhut Game". Part one of the game will be a
                            web based fighting (vs) game where users can challenge each other and also earn benefits
                            during the sessions.
                        </li>
                        <li>Lead time considered to complete is minimum 15-18 months</li>
                        <ol>
                            <li>VS mode</li>
                            <li>Winner takes it all mode</li>
                            <li>Tournament mode</li>
                        </ol>
                    </ul>
                </div>
            </div>
            <div class="col-6 white-text">
                <p class="phase-title"> 60% Sales </p>
                <div class="phase-content">
                    <ul>
                        <li>Initiate the phase -2 characters art work</li>
                    </ul>
                </div>
            </div>
            <div class="col-6 white-text">
                <p class="phase-title"> 100% Sales </p>
                <div class="phase-content">
                    <ul>
                        <li>Unique "Members Key Card" will be issued to all the existing holders. This will allow them
                            to invite new members to the community during the phase - 2 & 3 sales as we will only allow
                            new users with the key card to join
                        </li>
                        <li>This will provide community members the opportunity to participate and benefit from direct
                            sales</li>
                        <li>Initiate the phase - 3 (final) character art work</li>
                    </ul>
                </div>
            </div>
            <!-- <ng-container *ngFor="let a of phases; let i = index">
                <div class="col-4 white-text">
                    <p class="phase-title"> Phase {{i + 1}} </p>
                    <div class="phase-content">
                        <p> Add the data for phases here </p>
                        <p> Add the data for phases here </p>
                        <p> Add the data for phases here </p>
                        <p> Add the data for phases here </p>
                        <p> Add the data for phases here </p>
                    </div>
                </div>
            </ng-container> -->
        </div>
        <div class="row" *ngIf="true">
            <h3 class="text-center">Phase 2</h3>
            <div class="col-6 white-text">
                <p class="phase-title"> 30% Sales </p>
                <div class="phase-content">
                    <ul>
                        <li>Reveal the complete power ups for characters </li>
                        <li>Form the governance to help and be part of the decision making exercise and work on a true
                            community based project model
                        </li>
                        <ol>
                            <li>Based on the loyalty and trust shown during the phase - 1 sales from the community,
                                100 people will be selected by all fair means to be part of the yearly "Governance
                                Panel". (Discord members)
                            </li>
                            <li>Yearly voting will happen to re-elect 100 members for the "Governance Panel"</li>
                        </ol>
                    </ul>
                </div>
            </div>
            <div class="col-6 white-text">
                <p class="phase-title"> 60% Sales </p>
                <div class="phase-content">
                    <ul>
                        <li>Launch the phase - 1 gameplay (Go Live!) (considering the lead time of 15-18 months from
                            the date task is initiated)
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-12 white-text">
                <p class="phase-title"> 100% Sales </p>
                <div class="phase-content">
                    <ul>
                        <li>Get the story registered officially to explore additional business opportunities</li>
                        <ol>
                            <li> Writers Guild of America West </li>
                            <li>The Screenwriters Association (SWA, formerly Film Writers' Association)</li>
                        </ol>
                        <li>Reveal the story</li>
                        <li>Initiate the phase - 2 development of the "Panchbhut Game". Part 2 of the game will be an
                            open world gameplay purely based on the story written where users can experience the world
                            of the "Panchbhut Game" Meta and can freely explore and have fun. (considering the lead time
                            of minimum 24 months from the date task is initiated)
                        </li>
                        <ol>
                            <li> All the modes from phase - 1 </li>
                            <li>Story Mode</li>
                            <li>Free to explore mode</li>
                            <li>Mission Mode</li>
                        </ol>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row" *ngIf="true">
            <h3 class="text-center">Phase 3</h3>
            <div class="col-6 white-text">
                <p class="phase-title"> 30% Sales </p>
                <div class="phase-content">
                    <ul>
                        <li>Go Live with the official members exclusive merchandise</li>
                    </ul>
                </div>
            </div>
            <div class="col-6 white-text">
                <p class="phase-title"> 60% Sales </p>
                <div class="phase-content">
                    <ul>
                        <li> Explore the possibility of having Metaverse ecosystem for our community </li>
                    </ul>
                </div>
            </div>
            <div class="col-12 white-text">
                <p class="phase-title"> 100% Sales </p>
                <div class="phase-content">
                    <ul>
                        <li>Launch the phase - 2 open world gameplay (Go Live!) (considering the lead time of minimum
                            24 months from the date task is initiated)</li>
                        <li>Initiate the work on comic/animation series </li>
                        <li>Make the community also the official stake holders in above business opportunities to reap
                            the long term benefits
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="weapons">
            <img src="assets/roadmap/weapons.png" alt="weapons">
        </div>
    </div>
</div>