/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&display=swap');

@import './styles/variables.scss';


@mixin button-icons {
    border: none !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;
    height: 1.5rem;
    width: 1.5rem;
}

body {
    font-family: 'Cinzel', serif !important;
    margin: 0;
    padding: 0;
    background-color: $bg-color !important;
    color: $font-color !important;
}

.full-height-with-header {
    min-height: calc(100vh - $header-height);
}

.full-height {
    height: 100vh;
}

.d-flex-centre, .d-flex-center {
    display: flex;
    justify-content: center;
}

.instagram-btn {
    @include button-icons();
    background: url('./assets/instagram.svg');
}

.twitter-btn {
    @include button-icons();
    background: url('./assets/twitter.svg');
}

.discord-btn {
    @include button-icons();
    background: url('./assets/discord.svg');
}