<div class="home-page full-height-with-header">
    <div class="d-flex h-100 container">
        <div class="d-flex section-1">
            <p class="m-0">Welcome to the world of</p>
            <img src="assets/home/panchbhut.png" alt="panchbhut">
        </div>
        <div class="section-2">
            <!-- <img src="assets/home/panchbhut.png" alt="panchbhut"> -->
            <video autoplay loop src="assets/logo.MOV"></video>
        </div>
        <div class="section-3">
            <p class="text-center">
                ONE OF ITS KIND GAMEFI PROJECT THAT AIMS TO BRING TOGETHER THE ANCIENT
                <br>
                SPIRITUAL CULTURE OF OUR SACRED LAND AND MODERN TECHNOLOGY. WE BRING TO YOU A
                <br>
                MIND-BOGGLING NEVER SEEN BEFORE EXPERIENCE THAT WILL TAKE YOU TO THE HIGHEST LEVELS OF EXUBERANCE.
            </p>
            <div class="d-flex justify-content-around my-4">
                <button class="pb-btn">
                    Mint
                </button>
                <button class="pb-btn">
                    Marketplace
                </button>
            </div>
        </div>
    </div>
</div>