<div class="home-page full-height-with-header">
    <div class="d-flex h-100 container" *ngIf="homePageContent">
        <div class="d-flex section-1">
            <p class="m-0">{{homePageContent.welcomeMessage}}</p>
            <img src={{homePageContent.textLogo}} alt="panchbhut">
        </div>
        <div class="section-2">
            <!-- <img src="assets/home/panchbhut.png" alt="panchbhut"> -->
            <video controls controlsList="nodownload" autoplay loop src={{homePageContent.introVideo}}></video>
        </div>
        <div class="section-3">
            <p class="text-center" innerHTML={{homePageContent.description}}>
            </p>
            <div class="d-flex justify-content-around my-4">
                <button class="pb-btn" (click)="utility.openUrlInNewWindow(homePageContent.mintUrl)">
                    Mint
                </button>
                <button class="pb-btn" (click)="utility.openUrlInNewWindow(homePageContent.marketplaceUrl)">
                    Marketplace
                </button>
            </div>
        </div>
    </div>
</div>